@media(min-width: 1024px){
	section.container header div.menu-header ul li, .menu-footer ul li{
		margin-right: 9%;
	}
}

@media (max-width: 1024px){
	section.container{
		margin: 0;
	}
	section.container header div.logo-header img{
		padding-left: 15px;
	}
	section.container header div.menu-header ul li, .menu-footer ul li{
		font-size: 18px;
	}
	div.top-content div.slide-left-content{
		width: 60%;
	}
	div.top-content{
		height: 390px;
	}
	div.top-content div.slide-left-content a img{
		height: 385px;
	}
	div.top-content div.right-content{
		width: 35%;
	}
	div.top-content div.right-content div.top-trending ul li{
		line-height: 30px;
	}
	div.top-content div.right-content div.top-trending{
		height: 30px;
	}
	.sub-content-tranding{
		height: 75%;
	}
	div.top-content div.right-content div.content-trending{
		height: 50px;
	}
	div.list-post div.post-left{
		width: 75%;
	}
	div.right-post{
		width: 20%;
	}
	.introdu-footer p{
		width: 50%;
	}
	div.about img{
		height: 400px;
	}
	div.about p{
		padding-left: 20px;
	}
	div.about h4{
		padding-left: 10px;
	}
	div.contact div.form-contact-left{
		width: 100%;
		z-index: 2;
		float: left;
	}
	.form-contact-right{
		width: 85%;
		z-index: 1;
		float: left;
		margin-right: 5%;
	}
	div.contact button{
		margin-bottom: 20px;
	}
}

@media(max-width: 768px){
	section.container header{
		padding: 0;
	}
	section.container header div.menu-header button{
		display: block;
	    font-size: 30px;
	    width: 35px;
	    height: 35px;
	    background: #54CA89;
	    position: absolute;
	    right: 5%;
	    top: 3%;
	}
	section.container header div.menu-header button i{
		color: #fff;
	}
	section.container header div.menu-header ul li{
		display: none;
	}

	
	section.container header div.logo-header img {
	    width: 160px;
	    object-fit: cover;
	    padding-left: 10px;
	}
	
	.menu-responsive{
		position: fixed;
    	background: #fff;
    	width: 100% !important;
    	z-index: 9899999999;
	}
	.menu-responsive-ul-li{
		display: block !important;
		width: 100%;
	}
	section.container header div.logo-header, .logo-footer{
		padding-top: 10px;
	}
	.active-button{
	    top: 1%;
	    right: 10% !important;
	}
	.dpn-3{
		display: none;
	}
	div.top-content div.slide-left-content{
		width: 100%;
	}
	div.content{
		padding-right: 0;
		padding-left: 0;
		
	}
	div.top-content{
		height: 310px;
	}
	div.list-post div.post-left{
		width: 100%;
	}

	section.container header div.logo-header img{
		width: 140px;
	}
	/*section.container header div.menu-header button{
		top: 10%;
	}*/
	
	

	
	div.top-content div.slide-left-content a img{
		height: 300px;
	}
	
	
	div.list-post div.post-left div.post{
		height: 140px;
	}
	div.list-post div.post-left div.post div.logo-post{
		width: 30%;
	}
	div.list-post div.post-left div.post div.content-post{
		width: 65%;
	}
	p.post-title{
		font-size: 15px;
		line-height: 1.1;
	}
	p.content-list-post{
		line-height: 1.1;
		padding-top: 5px;
		height: 70px;
	}
	a.read-more{
		margin-right: 15px;
	}
	.logo-footer img{
		padding-left: 0;
	}
	.introdu-footer p,.introdu-footer p:last-of-type{
	    width: 100%;
	    float: left;
	    padding-left: 3%;
	    font-size: 13px;
	}
	.introdu-footer {
	    height: 60px;
	    line-height: 25px;
	}
	div.about img{
		height: 360px;
	}
}

