*{
	padding: 0;
	margin: 0;
	border: 0;
  font-size: 100%;
  box-sizing: border-box;

}
html,body{
  height: 100%;
}
body{
	position: relative;
  font-size: 16px;
  font-family: 'Roboto-Regular';
}
a{
	text-decoration: none;
}
@font-face{
	font-family: Roboto-LightItalic;
    src: url(../fonts/Roboto-LightItalic.ttf);
}
@font-face{
  font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: DancingScript;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: FontAwesome;
    src: url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2');
    font-weight: 400;
    font-style: normal;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-twitter:before {
    content: "\f099";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-facebook-f:before,.fa-facebook:before {
    content: "\f09a";
}

.fa-youtube-play:before {
    content: "\f16a";
}
.fa-search:before {
    content: "\f002";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}

/*Header*/
header{
	width: 100%;
	padding: 15px 0;
    border-bottom: 1px solid #eee;
}
header div.logo_header a{
	font-family: DancingScript;
    font-size: 42px;
    color: #333333;
}
header div.menu_header ul{
	float: right;
}
header div.menu_header button{
  display: none;
}
header div.menu_header ul li{
	 display: inline-block;
   list-style-type: none;
    padding: 20px;
    font-size: 25px;
}
header div.menu_header ul li a{
	color: #333;
}
div.advertisement{
  margin-top: 10px;
}
div.advertisement div.sub-advertisement{
  height: 100px;
  width: 100%;
  border:2px solid red;
}
/*End Header*/



/*Content*/
section.content{
  padding: 15px 0;
}
div.img_post{
  width: 35%;
  float: left;
}
div.img_post img{
  max-width: 100%;
}
div.post{
  border:1px solid #eee;
  padding: 15px;
  height: 180px;
  margin-bottom: 20px;
}
div.post h3{
  font-size: 26px;
  margin-bottom: 0;
}
div.post p{
  margin-bottom: 0;
}
div.content_post{
  width: 65%;
  padding-left: 5%;
  float: left;
  height: 100%;
}
p.description_post{
  height: 60%;
  overflow: hidden;
}
p.author_post{
  font-family: 'Roboto-LightItalic';
  font-size: 12px;
}

div.popular_post,div.follow_yt,div.follow_fb{
  border:1px solid #eee;
  margin-bottom: 15px;
  width: 100%;
}
div.popular_post h3.title_popular_post,h3.titl_follow_yt,h3.title_follow_fb{
    color: #fff;
    font-size: 22px;
    background: #2fa3db;
    text-align: center;
    padding: 5px;
}
div.post_popular_post{
  padding: 5px;
  height: 85px;
  margin-bottom: 10px;
}
div.post_popular_post h3{
  font-size: 19px;
  margin-bottom: 0;
}
div.post_popular_post p{
  font-size: 13px;
  color: #333;
}
div.follow_yt iframe{
  height: 200px;
  width: 100%;
}
div.img_layout_footer_content{
  width: 35%;
  float: left;
}
div.img_layout_footer_content img{
  max-width: 100%;
}
div.content_img_layout_footer_content{
  float: left;

  width: 65%;
  padding-left: 5%;
}
.title_layout_footer_content{
  font-size: 22px;
  margin-bottom: 0;
}
.description_layout_footer_content{
  font-size: 13px;
  color: #333;

}
div.layout_footer_content{
  height: 90px;
  overflow: hidden;
  margin-bottom: 10px;
}
.content_bd{
  border-bottom: 1px solid #eee;
}
div.content_suggest{
  padding-top: 20px;
  padding-bottom: 20px;
}
/* End content*/


/*footer*/
footer{
	background: #333;
}
footer ul{
  float: right;
}
footer p{
  padding: 10px 0;
}
footer ul li:hover{
  background: #fff;
}
footer ul li:hover i{
  color: #333;
}
footer ul li{
	display: inline-block;
  list-style-type: none;
  padding: 10px;
  background: #2fa3db;
  margin-right: 10px;
}
footer ul li a,footer p{
	color: #fff;
}
footer div.footer div{
  padding: 20px 0;
}
/*End footer*/

div.form_search{
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: #2fa3db;
  opacity: 0.9;
  display: none;

}
form{
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
}
form input{
  width: 100%;
  padding-left: 20px;
}
form input{
  font-size: 25px;
  position: absolute;
  right: 5%;
  top: 15%;
}
div.form_search a{
    padding: 10px;
    color: #fff;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;
    right: 10%;
    top: 5%;
}